/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

body{margin: 5px;}
span.required{color:red;}
.clearfix-card{margin-bottom: 5px;}



   