<form #form="ngForm" (ngSubmit)="sendContact(form.value)">
			<fieldset ngModelGroup="pbInfo">
				<div class="form-group row">
					<label for="phongBan" class="col-md-3 col-form-label">Phòng Ban: </label>
					<div class="col-md-5"><input type="text" id="phongBan" class="form-control" ngModel name="entry.phongBan"/></div>
				</div>
				<div class="form-group row">
					<label for="kenhHoTro" class="col-md-3 col-form-label">Kênh hỗ trợ: </label>
					<div class="col-md-5"><input type="text" id="kenhHoTro" class="form-control" ngModel name="entry.kenhHoTro"/></div>
				</div>
				<div class="form-group row">
					<label for="lineNoiBo" class="col-md-3 col-form-label">Line nội bộ: </label>
					<div class="col-md-5"><input type="text" id="lineNoiBo" class="form-control" ngModel name="entry.lineNoiBo"/></div>
				</div>
			</fieldset>
			<fieldset ngModelGroup="contactInfo">
				<div class="form-group row">
					<label for="tenCongTy" class="col-md-3 col-form-label">Tên công ty: </label>
					<div class="col-md-5"><input type="text" id="tenCongTy" class="form-control" ngModel name="entry.tenCongTy"/></div>
				</div>
				<div class="form-group row">
					<label for="maSoThue" class="col-md-3 col-form-label">Mã số thuế / Mã đơn vị: </label>
					<div class="col-md-5"><input type="text" id="maSoThue" class="form-control" ngModel name="entry.maSoThue"/></div>
				</div>
				<div class="form-group row">
					<label for="tenKhachHang" class="col-md-3 col-form-label">Tên khách hàng: </label>
					<div class="col-md-5"><input type="text" id="tenKhachHang" class="form-control" ngModel name="entry.tenKhachHang"/></div>
				</div>
				<div class="form-group row">
					<label for="email" class="col-md-3 col-form-label">E-mail: </label>
					<div class="col-md-5"><input type="text" id="email" class="form-control" ngModel name="entry.email"/></div>
				</div>
				<div class="form-group row">
					<label for="soDienThoai" class="col-md-3 col-form-label">Số điện thoại liên hệ: </label>
					<div class="col-md-5"><input type="text" id="soDienThoai" class="form-control" ngModel name="entry.soDienThoai"/></div>
				</div>
				<div class="form-group row">
					<label for="noiDungHT" class="col-md-3 col-form-label">Nội dung cần hỗ trợ: </label>
					<div class="col-md-5"><input type="text" id="noiDungHT" class="form-control" ngModel name="entry.noiDungHT"/></div>
				</div>
			</fieldset>
			<fieldset ngModelGroup="result">
				<div class="form-group row">
					<label for="noiDungCopy" class="col-md-3 col-form-label">Hiển thị nội dung: </label>
					<div class="col-md-5"><textarea id="noiDungCopy" class="form-control" ngModel name="noiDungCopy"></textarea></div>
				</div>    
			</fieldset>
			<div class="form-group row">
				<div class="col-md-10 offset-md-3">
				<button class="btn btn-primary" type="submit">Gửi</button>
				<button class="btn btn-primary" type="reset">Nhập Lại</button>
			  </div>
			</div>
		</form>